<!DOCTYPE html>
<html lang="en" ng-app="seedApp">
<!-- <meta charset="utf8" http-equiv="x-ua-compatible" content="IE=edge"> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
	<title>IDK Web App Seed</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap-2.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="lib/bootstrap-2.3.0/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" type="text/css" href="modules/message-center/message-center.css">
	<link rel="stylesheet" type="text/css" href="modules/angular-ui/build/angular-ui.min.css">
	<link rel="stylesheet" type="text/css" href="css/seed.css">

	<script src="lib/jquery-1.9.1.js"></script>
	<script src="lib/bootstrap-2.3.0/js/bootstrap.js"></script>
	<script src="lib/angular-1.0.5/angular.js"></script>
	<script src="lib/angular-1.0.5/angular-resource.js"></script>
	
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>

	<script src="modules/angular-ui/build/angular-ui.min.js"></script>
	<script src="modules/angular-bootstrap-ui/ui-bootstrap-0.1.0.js"></script>
	<script src="modules/message-center/message-center.js"></script>
	<script src="modules/login-service/login-service.js"></script>
	<script src="modules/tab-module/tabs.js"></script>
</head>
<body ng-controller="indexCtrl">
	<message-center></message-center>
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="home">IDK</a>
				<div class="nav-collapse collapse" >
					<ul class="nav">
						<li><a href="home"><i class="icon-home icon-white"></i> Home</a></li>
						<li ng-repeat= "navTemplate in activeNavTemplates"><a href="{{navTemplate.href}}"><i class="icon-white" ng-class="navTemplate.icon"></i> {{navTemplate.title}}</a></li>
					</ul>
					<login-center login="login(form)" logout="logout()" signup="signup(form)" user="user" forget="forget(email)"></login-center>
				</div>
			</div>
		</div>
	</div>
	<ng-view style="padding: 5px;"></ng-view>
	<div class="footerPad"></div>
	<footer class="hidden-phone">
		<ul>
			<li>Built with <a href="http://angularjs.org/"><img src="images/AngularJS-small.png"></a> and <a class="brand"href="http://twitter.github.com/bootstrap/index.html"><b>Twitter Bootstrap</b></a></li>&nbsp;&nbsp;
		</ul>
	</footer>
</body>
</html>