<div ng-switch="loggedIn">
	<span ng-switch-when="false">
		<ul class="nav pull-right">
			<li class="dropdown">
				<a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign Up<strong class="caret"></strong></a>
				<div class="dropdown-menu" style="padding: 15px; padding=bottom: 0px;">
					<form class="validator" name="signupForm" ng-model="signUp.form" novalidate>
						<div>
							<b class="visible-desktop">Name</b><input type="text" ng-model="signUp.form.name" required placeholder="Name"></input>
							<b class="visible-desktop">Email</b><input type="email" ng-model="signUp.form.email" required placeholder="Email"></input>
						</div>
						<div>
							<b class="visible-desktop">Password</b><input type="password" ng-model="signUp.form.password" required placeholder="Password"></input>
							<b class="visible-desktop">Verify</b><input type="password" ng-model="signUp.form.passwordConfirm" passidate="signUp.form.password" required placeholder="Password Confirm" ></input>
						</div>
						<div>
							<button class="btn btn-success" ng-disabled="signupForm.$invalid" ng-click="submitSignUp()">Submit</button>
							<button class="btn" ng-click="resetSignUp()">Reset</button>
						</div>
					</form>
				</div>
			</li>
			<li class="divider-vertical"></li>
			<li class="dropdown">
				<a class="dropdown-toggle" href="#" data-toggle="dropdown">Log In <strong class="caret"></strong></a>
				<div class="dropdown-menu" style="padding: 15px; padding=bottom: 0px;">
					<form class="validator" name="loginForm" ng-model="formLogin" novalidate>
						<input type="email" required placeholder="Email" ng-model="formLogin.email"></input>
						<input type="password" required placeholder="Password" ng-model="formLogin.password"></input>
						<label class="checkbox nav-checkbox">
							<input type="checkbox" ng-model="formLogin.rmbr" value="rmbr" disabled>Remember Me</input>
						</label>
						<button class="btn btn-success" ng-disabled="loginForm.$invalid" ng-click="submitLogin()"> Log In</button>
						<button ng-click="forgetForm.show = !forgetForm.show" class="btn btn-danger">Forgot</button>
						<span ng-show="forgetForm.show">
							<li class="divider"></li>
							<!-- Enter Key sorta broken for now -->
							<input type="email" ng-model="forgetForm.email" placeholder="E-mail" ui-keypress="{13:'resetPass()'}"></input>
							<button class="btn btn-success" ng-click="resetPass()">Reset</button>
						</span>
					</form>
				</div>
			</li>
		</ul>
	</span>
	<span ng-switch-when="true">
		<ul class="nav pull-right">
			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome {{user.name}} <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a class="fade-reflect" href="account"><i class="icon-cog"></i> Account Management</a></li>
					<li><a class="fade-reflect" href="support"><i class="icon-envelope"></i> Contact Support</a></li>
					<li class="divider"></li>
					<li><a class="fade-reflect" href="#" ng-click="submitLogout()"><i class="icon-off"></i> Logout</a></li>
				</ul>
			</li>
		</ul>
	</span>
</div>