message-center {
  position:fixed;
  bottom:20px;
  left:20px;
}

div.messageBox {
  border :2px solid #a1a1a1;
  color: #008dd6;
  padding: 3px;
  padding-left: 5px;
  margin-top: 5px;
  background: #161616;
  border-radius: 7px;
  width: 230px;
  max-height: 50px;
}

img.messageImg {
	height: 35px;
	width: 35px;
  	margin-right: 5px;
  	border-radius: 15px;
  	display: inline;
}

h6.messageItem {
	font-size: 16px;
	display: inline;
}



/*Currently setup for maximum of 20characters. Anything over will break the box*/